/* Navegación accesible */
.navbar {
    background-color: #222;
    text-align: center;
    padding: 0.5rem 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.navbar a:focus, .navbar a:hover {
    background-color: #575757;
    padding: 5px;
    border-radius: 5px;
}

/* Mejor contraste en los enlaces */
a {
    color: #0066cc;
}

a:focus, a:hover {
    color: #004099;
    text-decoration: underline;
}

.navbar .active{
    background-color: rgb(66, 63, 63);
}