/* NAVBAR ACCESIBLE */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #3f148f !important;
    padding: 0.5rem 0;
    gap: 10px;
    flex-wrap: nowrap;
    border: none;
}
.navbar.bg-body-tertiary {
    background-color: #000000 !important;
   
}


.navbar .active {
    background-color: #fafafa; /* Fondo amarillo */
    color: #3f148f; /* Texto morado */
    font-weight: bold; /* Resaltar el texto */
    border-radius: 2px;
    padding: 8px 12px;
}



/* Lista de navegación */           
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

/* Elementos de la lista */
.navbar li {
    margin: 0 15px;
}

/* Enlaces accesibles */
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 8px 12px;
    border-radius: 5px;
    outline: none;
}

/* Foco visible SOLO cuando se usa teclado */
.navbar a:focus-visible {
    background-color: #601eb8;
    color: rgb(7, 0, 0);
    outline: 2px solid black;           
}

/* Hover y Foco */
.navbar a:hover {   
    background-color: #575757;
    border-radius: 5px;
}
